@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Denk+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #291c0e, #a78d78);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.1);
    width: 100%;
}

header .logo {
    height: 100%;
}

header .logo a {
    display: block;
    width: 150px;
}

header .nav-bar {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header div a {
    font-size: 2rem;
    line-height: 40px;
    width: 130px;
    text-align: center;
    font-weight: 500;
    color: black;
    font-family: Poppins, Jetbrains Mono;
}

header a:hover {
    color: #ec8c69;
    transform-origin: top;
    text-decoration: underline;
    transition: 0.75s all ease;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: Denk One, Consolas, Patrick Hand;
    margin: 5vh;
}

.content .button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.content .button a {
    height: 60px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    font-size: 1.6rem;
    font-family: Jetbrains Mono;
    color: white;
}

.fa-brands, .fa-solid {
    margin-right: 1ch;
}

.content .button a:hover {
    z-index: 1;
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white;
    transform: scale(1.1);
}

.content .button:hover > :not(:hover) {
    filter: blur(1px);
    z-index: 0;
    opacity: 0.7;
}

.content .button .facebook a {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    position: relative;
    animation: animate1 2s cubic-bezier(1, 0, 0, 1) alternate;
}

@keyframes animate1 {
    0% {
        opacity: 0;
        top: 20px;
        box-shadow: none;
    }

    100% {
        top: 0;
    }
}

.content .button .tiktok a {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    position: relative;
    animation: animate2 2.25s cubic-bezier(1, 0, 0, 1) alternate;
}

@keyframes animate2 {
    0% {
        opacity: 0;
        right: 20px;
        box-shadow: none;
    }

    100% {
        right: 0;
    }
}

.content .button .mail a {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%);
    position: relative;
    animation: animate3 2s cubic-bezier(1, 0, 0, 1) alternate;
}

@keyframes animate3 {
    0% {
        opacity: 0;
        bottom: 20px;
        box-shadow: none;
    }

    100% {
        bottom: 0;
    }
}

.content .button .phone a {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    position: relative;
    animation: animate4 2s cubic-bezier(1, 0, 0, 1) alternate;
}

@keyframes animate4 {
    0% {
        opacity: 0;
        left: 20px;
        box-shadow: none;
    }

    100% {
        left: 0;
    }
}

@media screen and (max-width: 714px) {
    .content .button {
        height: 200px;
    }
}

@media screen and (max-width: 575px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .content h1 {
        font-size: 3.5rem;
    }
    
    .content .button {
        height: 450px;
    }
}